
<div class="row">

    <h2>Nombre: @ViewBag.ImageName</h2>
    <h2>Imágen:</h2><br />

    <div class="col-5">
        <img src="@ViewBag.ImagePath" id="@ViewBag.ImageName" alt="Image not found" 
             style="width: 50%; height: 50%;">
    </div>

</div>

